<div class="message">
    <h2>
         You've done the school proud once again! Congrats on getting a national distinction :*
    </h2>
</div>

<div class="print-icon">
    <i class="fa fa-print" onClick="window.print()"></i>
</div>