<div class="home-bg" id="app">
<div class="scene scene--card">
    <div class="card">
        <div class="card__face card__face--front"></div>
        <div class="card__face card__face--back">
            <iframe title="Pick Me Up Bot"
                width="500px"
                height="500px"
                src='http://localhost:3001/lite/pick-me-up-bot/?m=channel-web&v=Fullscreen&options=%7B%22hideWidget%22%3Atrue%2C%22config%22%3A%7B%22enableReset%22%3Atrue%2C%22enableTranscriptDownload%22%3Atrue%7D%7D'>
            </iframe>
        </div>
    </div>
</div>
</div>
<script src="./js/cube.js"></script>
